Package: com.haotestlabs.nfcshortcuts
Name: NFCShortcuts
Depends: mobilesubstrate, com.haotestlabs.nfcbackground
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Hao Wang
Author: Hao Wang
Section: Tweaks
